header{
    display: flex;
}
header>div{ 
    flex:1;
    border: black 1px solid; 
    margin: auto; 
}

header>ul{
    flex: 2;
    border: black 1px solid;   
    text-align: right;
}

header li{
    display: inline-block;
    margin-right: 5rem;
}

